body {
  background-color: #1b1b1b;
  font-family: "Courier New", monospace;
  color: white;
  overflow: hidden; }

#title, .material-icons {
  font-family: 'Englebert', sans-serif;
  font-size: 22px;
  color: #C0C0C0; }

#title {
  position: relative;
  margin-top: -10px;
  font-size: 18px; }

form .material-icons {
  color: #282828;
  vertical-align: middle; }

#subtitle {
  font-family: 'Englebert', sans-serif;
  font-size: 10px; }

fieldset {
  margin-left: 5px;
  padding-bottom: 1px;
  background-color: #282828;
  border: gray 1px solid;
  padding: 10px;
  padding-top: 3px; }

legend {
  width: max-content;
  color: gray;
  font-weight: bolder;
  font-size: 18px;
  height: 18px;
  padding: 0px;
  text-align: center; }

#fieldset-calendar {
  width: 90%;
  height: 60%; }

#fieldset-trends {
  position: relative;
  margin-top: -7px;
  width: 1355px; }

#top {
  padding-top: 5px;
  background-color: #1b1b1b; }
  #top button {
    position: relative;
    width: fit-content;
    display: inline; }
    #top button:hover {
      color: black; }
    #top button a {
      color: #FFFFFF;
      text-decoration: none; }

#customer-filters {
  position: relative;
  margin-right: 300px; }
  #customer-filters select.btn-select {
    position: relative;
    margin-top: -30px; }

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popup {
  z-index: 2;
  margin: 70px auto;
  padding: 20px;
  background: rgba(173, 173, 173, 0.8);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out; }

.popup h2 {
  margin-top: 0;
  color: #333; }

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; }

.popup .close:hover {
  color: #06D85F; }

.popup .content {
  max-height: 30%;
  font-size: 12px;
  overflow: auto;
  color: black; }

@media screen and (max-width: 700px) {
  .popup {
    width: 70%; } }

.description {
  position: relative;
  margin-top: 5px;
  font-size: 10px;
  color: gray; }

.my-button {
  display: inline-block;
  height: 25px;
  cursor: pointer;
  padding: 0 1.2em;
  border: 0.1em solid #C0C0C0;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: #1b1b1b;
  text-align: center;
  transition: all 0.2s;
  background-color: #C0C0C0;
  border-radius: 25px; }
  .my-button:hover {
    color: #000000;
    background-color: #FFFFFF; }

.btn-right {
  float: right;
  margin-top: 0pt; }

#btn-run {
  position: relative;
  width: auto;
  font-size: 18px;
  height: auto;
  text-align: left; }
  #btn-run i {
    position: relative;
    margin-left: -12px;
    color: #282828; }

.tooltip {
  position: relative;
  display: inline-block; }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 8pt;
  font-weight: 100; }
  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white; }

#select-y {
  position: relative; }

.btn-select {
  height: 20px;
  font-size: 11px;
  padding: 2px;
  font-weight: normal;
  border-radius: 3px;
  background-color: #585858;
  border: #585858;
  color: white; }

#treemap {
  position: relative;
  margin-top: -50px;
  margin-left: -30px;
  margin-right: 0px; }

.node {
  font: 8.5px "Courier New", monospace;
  line-height: 90%;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: default;
  padding-top: 5px;
  padding-left: 1px;
  cursor: pointer; }

a {
  color: dimgray; }

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px "Courier New", monospace;
  padding: 5px;
  text-align: center; }

.category {
  font-weight: bolder;
  font-size: 12px; }

.value {
  color: black; }

.viz#line-chart {
  height: 50px; }

.axis {
  stroke: white;
  stroke-width: 0.3;
  color: gray;
  font-family: "Courier New", monospace;
  font-size: 8px; }

#line-chart {
  color: white; }
  #line-chart path, #line-chart line {
    stroke: gray; }

.tooltip {
  position: absolute;
  opacity: 1;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  background: none repeat scroll 0 0 white;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px "Courier New", monospace;
  border: 1px;
  border-radius: 8px; }

.box-aggregation {
  position: relative;
  margin-left: -70px;
  width: auto;
  font-size: 10px;
  text-align: center;
  padding: 4px;
  color: gray; }

.num-aggregation {
  position: relative;
  margin-top: -7px;
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  font-stretch: condensed; }

#calendar-heatmap {
  position: relative;
  display: inline;
  font-size: 9px; }
  #calendar-heatmap .chart {
    background: #fff;
    margin: 5px; }
  #calendar-heatmap .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px; }
  #calendar-heatmap .day {
    fill: #fff;
    stroke: #ccc; }
  #calendar-heatmap text {
    font-family: sans-serif;
    font-size: 1.5em; }
  #calendar-heatmap .dayLabel {
    fill: #aaa;
    font-size: 0.8em; }
  #calendar-heatmap .monthLabel {
    text-anchor: middle;
    font-size: 0.8em;
    fill: #aaa; }
  #calendar-heatmap .yearLabel {
    fill: #aaa;
    font-size: 1.2em; }
  #calendar-heatmap .key {
    font-size: 0.5em; }

form {
  position: relative;
  margin-top: 10px;
  display: inline;
  margin-left: 40px;
  font-size: 12px; }
  form .input-param {
    width: 25px;
    text-align: center;
    margin-left: -3px;
    margin-right: 6px;
    background-color: #585858;
    color: white;
    border: #585858; }
  form label {
    font-size: 10px; }

.parameters {
  position: relative;
  margin-top: -40px; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */ }

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */ }

#unsupervised-parallel .axis {
  opacity: 0.4; }

#unsupervised-parallel .axis:hover {
  opacity: 1; }

#container-row {
  position: relative;
  margin-left: -60px; }

#unsupervised-row {
  position: relative;
  margin-left: -40px; }

#fieldset-unsupervised {
  width: 950px; }

#row-form {
  position: relative;
  margin-left: -10px;
  margin-top: 0px; }
  #row-form .my-button {
    font-size: 10px;
    height: 20px; }

#scatter {
  position: relative;
  margin-left: -81px;
  margin-top: -40px;
  margin-bottom: -10px; }
  #scatter path {
    stroke: gray;
    color: white; }

.axis line, .axis path {
  stroke: gray;
  color: gray; }

#cluster-selector-select {
  position: relative;
  margin-top: 10px;
  margin-left: -50px;
  display: inline-block;
  border: 1px solid #585858;
  width: 100px;
  height: 80px;
  overflow-y: scroll;
  scrollbar-width: thin; }

#metrics-table {
  position: relative;
  margin-top: -30px;
  margin-left: -50px;
  font-size: 9px;
  color: gray;
  line-height: 85%;
  height: 70px;
  width: 100px; }
  #metrics-table td {
    padding-left: 1px;
    padding-top: 3px;
    border-bottom: 3px solid #282828; }
  #metrics-table .header {
    background-color: #585858;
    color: white; }

#fieldset-rfm {
  width: 330px; }

#fieldset-segment {
  position: relative;
  margin-left: 30px;
  width: 610px; }

#rfm-heatmap {
  position: relative;
  display: inline-block;
  margin-left: -10px;
  margin-bottom: -10px;
  vertical-align: top; }

#rfm-legend {
  position: relative;
  margin-left: -10px;
  display: inline-block;
  vertical-align: top; }

#rfm-legend-title {
  position: relative;
  margin-top: -40px;
  margin-left: -10px; }

#value-legend {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 8px;
  vertical-align: top;
  color: gray;
  background: #1b1b1b;
  padding: 5px; }

.big-bold {
  font-size: 10px;
  font-weight: bold;
  color: white; }

.up {
  position: relative;
  margin-top: -10px; }

#legend1 {
  position: relative;
  margin-top: -175px;
  margin-left: -185px;
  margin-bottom: 160px;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  transform: rotate(270deg);
  pointer-events: none; }

#table-div {
  position: relative;
  margin-top: -5px;
  height: 110px;
  overflow-y: scroll;
  scrollbar-width: thin; }

#customer-table {
  font-size: 11px;
  text-align: center;
  border-spacing: 10px; }
  #customer-table th {
    background-color: gray;
    color: #282828;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2; }
  #customer-table td {
    padding-left: 3px;
    padding-top: 1px;
    border-bottom: 1px solid gray; }
  #customer-table th, #customer-table td {
    padding-right: 10px; }

#total-cust {
  position: relative;
  margin-top: -23px;
  margin-left: 450px; }
