body {
  background-color: #282828;
  font-family: "Courier New", monospace;
  color: white; }

fieldset {
  margin-left: 5px;
  padding-bottom: 1px;
  background-color: black;
  border: gray 1px solid;
  padding: 10px;
  padding-top: 3px; }

legend {
  width: max-content;
  color: gray;
  font-weight: bolder;
  font-size: 18px;
  height: 18px;
  padding: 0px;
  text-align: center; }

#fieldset-calendar {
  width: 90%;
  height: 60%; }

#fieldset-trends {
  width: 90%; }

#top {
  padding-top: 5px; }
  #top button {
    position: relative;
    width: fit-content;
    display: inline; }
    #top button:hover {
      color: black; }
    #top button a {
      color: #FFFFFF;
      text-decoration: none; }

.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popup {
  z-index: 2;
  margin: 70px auto;
  padding: 20px;
  background: rgba(173, 173, 173, 0.8);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out; }

.popup h2 {
  margin-top: 0;
  color: #333; }

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; }

.popup .close:hover {
  color: #06D85F; }

.popup .content {
  max-height: 30%;
  font-size: 12px;
  overflow: auto;
  color: black; }

@media screen and (max-width: 700px) {
  .popup {
    width: 70%; } }

.description {
  position: relative;
  margin-top: 5px;
  font-size: 10px; }

.my-button {
  display: inline-block;
  height: 25px;
  cursor: pointer;
  padding: 0 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background-color: #282828;
  border-radius: 25px; }
  .my-button:hover {
    color: #000000;
    background-color: #FFFFFF; }

.btn-right {
  float: right;
  margin-top: 0pt; }

.tooltip {
  position: relative;
  display: inline-block; }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 8pt;
  font-weight: 100; }
  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white; }

#select-y {
  position: relative; }

.btn-select {
  height: 20px;
  font-size: 11px;
  padding: 2px;
  font-weight: normal;
  border-radius: 3px; }

#treemap {
  position: relative;
  margin-left: 40px;
  margin-right: 0px; }

.node {
  border: solid 1px white;
  font: 8.5px "Courier New", monospace;
  line-height: 90%;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: default; }

a {
  color: dimgray; }

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px "Courier New", monospace;
  padding: 5px;
  text-align: center; }

.category {
  font-weight: bolder;
  font-size: 12px; }

.value {
  color: black; }

.viz#line-chart {
  height: 50px; }

.axis {
  stroke: white;
  stroke-width: 0.3;
  color: gray;
  font-family: "Courier New", monospace;
  font-size: 8px; }

#line-chart {
  color: white; }
  #line-chart path, #line-chart line {
    stroke: gray; }

.tooltip {
  position: absolute;
  opacity: 1;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  background: none repeat scroll 0 0 white;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px "Courier New", monospace;
  border: 1px;
  border-radius: 8px; }

#calendar-heatmap {
  position: relative;
  display: inline;
  font-size: 9px; }
  #calendar-heatmap .chart {
    background: #fff;
    margin: 5px; }
  #calendar-heatmap .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px; }
  #calendar-heatmap .day {
    fill: #fff;
    stroke: #ccc; }
  #calendar-heatmap text {
    font-family: sans-serif;
    font-size: 1.5em; }
  #calendar-heatmap .dayLabel {
    fill: #aaa;
    font-size: 0.8em; }
  #calendar-heatmap .monthLabel {
    text-anchor: middle;
    font-size: 0.8em;
    fill: #aaa; }
  #calendar-heatmap .yearLabel {
    fill: #aaa;
    font-size: 1.2em; }
  #calendar-heatmap .key {
    font-size: 0.5em; }

form {
  font-size: 12px; }
  form .input-param {
    width: 38px;
    text-align: center;
    margin-right: 15px; }

#unsupervised-parallel .axis {
  opacity: 0.4; }

#unsupervised-parallel .axis:hover {
  opacity: 1; }

#container-row {
  position: relative;
  margin-left: -60px; }

#row-form {
  position: relative;
  margin-left: 5px; }

#scatter {
  position: relative; }
  #scatter path {
    stroke: gray;
    color: white; }

.axis line, .axis path {
  stroke: gray;
  color: gray; }
