<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="shortcut icon" href="#">
  <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/treemap.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/linechart.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/calendar_heatmap.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/run_kmeans_button.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/parallel_unsupervised.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/cluster_scatter.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/clear_viz.js')}}"></script>
  <!--<title><%= htmlWebpackPlugin.options.title %></title>-->
  <title>Retail Analytics</title>
</head>
<body>

  <!--Top row-->
  <div class="row" id="top">
    <div class="col">

      <a class="my-button btn-right" href="#info">?</a>

      <div id="info" class="overlay">
        <div class="popup">
          <h2>Dashboard Infos</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
              The following Dashboard allows to analyze customers' purchases from different perspectives.
              <br>
              Continue here.....
          </div>
        </div>
      </div>

      <button class="my-button btn-right" id="btn-clear" type="button" onclick="ResetViz();">
        Reset
      </button>
    </div>
  </div>


  <!--First visualization row-->
  <fieldset id="fieldset-trends">
    <legend>PURCHASE TRENDS</legend>
    <div class="row">
      <script src="https://d3js.org/d3.v3.js"></script>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <div class="col-6">  
        <select id="select-y" class="my-button btn-select"></select>
        <div id="line-chart"></div> 
      </div>

      <div class="col-6">
        <div id="treemap" ></div>
        <span class="description">Add macro category texts</span>
      </div>
      
    </div>  
  </fieldset>  

  <!--Second row-->
  <div class="row">

    <div class="col-4">
      <fieldset id="fieldset-calendar">
        <legend>PURCHASE SEASONALITIES</legend>
        <select id="select-y-cal" class="my-button btn-select">
          <option>Profit</option>
          <option>Sales</option>
        </select>
        <div id="calendar-heatmap"></div>
      </fieldset>
    </div>
      
    <div class="col-8" id="container-row">
      <fieldset>
        <legend>UNSUPERVISED CUSTOMER SEGMENTATION</legend>
        <!--Setting parameters for PCA ad K-Means-->
        <div class="row" id="row-form">
          <form action="/runcluster" method="GET">
            <label for="n_components">N° Principal Components:</label>
            <input type="number" id="n_components" name="n_components" class="input-param" min="2" max="18" value="2">
            <label for="n_clusters">N° Clusters:</label>
            <input type="number" id="n_clusters" name="n_clusters" class="input-param" min="2" max="6" value="4" >
            <input type="submit" class="my-button" value="Run K-Means" onclick="RunKmeans();">
          </form>
        </div>
      
        <!--Parallel coordinates for Unsupervised Clustering-->
        <div class="row">
    
          <div class="col-6">
            <button class="my-button btn-select" type="button">Axes Reorder</button>
            <div id="unsupervised_parallel" class="inline"></div>
          </div>

          <div class="col-2">
            <!--Scatterplot of PCA-->
            <div id="scatter"></div>
          </div>
        
        </div>
      </fieldset>
    </div>
  </div>

    
    
  




</body>
</html>
