<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--Bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--Styles-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="shortcut icon" href="#">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,800&family=Englebert&display=swap" rel="stylesheet">  <script src="http://d3js.org/d3.v3.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  <!--D3.js and ajax-->
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://d3js.org/d3.v5.js"></script>
  <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="module">import d3_colorLegend from "https://api.observablehq.com/@d3/color-legend.js?v=3";</script>
  <!--Javascript files-->
  <script type="text/javascript" src="{{ url_for('static', filename='js/treemap.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/linechart.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/calendar_heatmap.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/settings.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/parallel_unsupervised.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/cluster_scatter.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/rfm_heatmap.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/parallel_rfm.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/metrics_table.js')}}"></script>  
  <script type="text/javascript" src="{{ url_for('static', filename='js/clear_viz.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/compute_aggregated_values.js')}}"></script>
  <script type="text/javascript" type="module" src="{{ url_for('static', filename='js/customer_summary.js')}}"></script>
  <script type="text/javascript" type="module" src="{{ url_for('static', filename='js/filters.js')}}"></script>

  <!--<title><%= htmlWebpackPlugin.options.title %></title>-->
  <title>Retail Analytics</title>
</head>
<body>

  <!--Top row-->
  <div class="row" id="top">
    <div class="col">
      <span class="material-icons">insights</span>
      <span id="title"> RETAIL ANALYZER</span>

      <a class="my-button btn-right" href="#info">?</a>

      <div id="info" class="overlay">
        <div class="popup">
          <h2>Dashboard Infos</h2>
          <a class="close" href="#">&times;</a>
          <div class="content">
              The following Dashboard allows to analyze customers' purchases from different perspectives.
              <br>
              Continue here.....
          </div>
        </div>
      </div>

      <form action="/reset" method="GET">
        <button class="my-button btn-right" id="btn-clear" onclick="ResetViz(); document.body.style.cursor='wait'; return true;">
          Reset
        </button>
      </form>

      <!-- Customer sex filter-->
      <form action="/applyfilters" method="GET" id="customer-filters" class="btn-right">
        <select class="my-button btn-select" name="sex" id="sex"> 
          <option value="" disabled>- Customer Sex -</option>
          <option value="all" selected>Male/Female</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select> 

        <!-- Customer city filter-->     
        <select class="my-button btn-select" name="city" id="city"> 
          <option value="" disabled>- Customer City -</option>
          <option value="all" selected>All Cities</option>
          <option value="1">City 1</option>
          <option value="2">City 2</option>
          <option value="3">City 3</option>
          <option value="4">City 4</option>
          <option value="5">City 5</option>
          <option value="6">City 6</option>
          <option value="7">City 7</option>
          <option value="8">City 8</option>
          <option value="9">City 9</option>
          <option value="10">City 10</option>
        </select>

        <select class="my-button btn-select" name="shop" id="shop"> 
         <option value="" disabled>- Shop -</option>
         <option value="all" selected>All shops</option>
         <option value="e-Shop">e-Shop</option>
         <option value="TeleShop">TeleShop</option>
         <option value="MBR">MBR</option>
         <option value="Flagship store">Flagship store</option>
        </select>

        <!-- Button to actually run the filtering -->
        <button class="my-button" id="btn-filter" onclick="FilterData(); document.body.style.cursor='wait'; return true;">
          Analyze<i class="material-icons">filter_alt</i></button>
      </form>

      

      <!--Button to filter by Shop (multi-option check box)-->
      <!--Button to filter by Customer Location (city code): 'City 1', 'City 2' ... -->
      <!--Button to filter customer age category-->
      <!--Button to filter customer sex-->
    </div>
  </div>


  <!--First visualization row-->
  <fieldset id="fieldset-trends">
    <legend>PURCHASE TRENDS</legend>
    <div class="row">
      <script src="https://d3js.org/d3.v3.js"></script>
      <script src="https://d3js.org/d3.v4.min.js"></script>
      <div class="col-8">  
        <select id="select-y" class="my-button btn-select"></select>
        <select id="select-aggr" class="my-button btn-select">
          <option value="day">Aggregate by Day</option>
          <option value="month">Aggregate by Month</option>
          <option value="year">Aggregate by Year</option>
        </select>
        <div id="line-chart"></div> 
      </div>

      <div class="col-1">
        <div class="box-aggregation" id="total-profits">
          Total Profits
        </div>

        <div class="box-aggregation" id="total-sales">
          Total Sales
        </div>

        <div class="box-aggregation" id="avg-daily-profit">
          Avg Daily Profit
        </div>

      </div>

      <div class="col-3">
        <div id="treemap" ></div>
        <div class="description" style="position:relative;margin-top:30px;text-align:center;">Number of sales for product category.</div>
      </div>

      
    </div>  
  </fieldset>  

  <!--Second row-->
  <div class="row">

    <div class="col-4">
      <fieldset id="fieldset-calendar">
        <legend>PURCHASE SEASONALITIES</legend>
        <select id="select-y-cal" class="my-button btn-select">
          <option>Profit</option>
          <option>Sales</option>
        </select>
        <div id="legend1"></div>
        <div id="calendar-heatmap"></div>
      </fieldset>
    </div>
      
    <div class="col-8" id="container-row">
      <fieldset id="fieldset-unsupervised">
        <legend>UNSUPERVISED CUSTOMER SEGMENTATION</legend>
        <div class="description" style="position:relative;margin-top:-10px;">
          Select a cluster from any visualization for further analyses.</div>
        <!--Setting parameters for PCA ad K-Means-->
        <div class="row" id="row-form">
          <div class="col-12">
            <button class="my-button" id="btn-shuffle-order" type="button">Shuffle Axes</button>
            <button class="my-button" id="btn-original-order" type="button">Order Axes by Category</button>

            

            <form action="/runcluster" method="GET">
              <label for="n_components">#COMPONENTS:</label>
              <input type="number" id="n_components" name="n_components" class="input-param btn-select" min="2" max="18" value="2">
              <label for="n_clusters">#CLUSTERS:</label>
              <input type="number" id="n_clusters" name="n_clusters" class="input-param btn-select" min="2" max="6" value="4" >
              <button class="my-button" id="btn-run" style="vertical-align:middle;font-size:12px;padding-bottom:4px;" onclick="RunKmeans();document.body.style.cursor='wait'; return true;">
                Run<span class="material-icons" style="font-size:22px;">restart_alt</span></button>
            </form>

            

          </div>
        </div>
      
        <!--Parallel coordinates for Unsupervised Clustering-->
        <div class="row" id="unsupervised-row">
    
          <div class="col-9">
            
            <div id="unsupervised_parallel" class="inline"></div>
          </div>

          <div class="col-2">
            <!--Scatterplot of PCA-->
            
            <div id="scatter"></div>
          </div>

          <div class="col-1">
            <!--Cluster selector-->
            <div id="cluster-selector">
              <div id="metrics-table">
              </div>
              <!--Here you append input type checkbox and <br />-->
              <select class="my-button btn-select" id="cluster-selector-select"  multiple>
              </select>
            </div>
          </div>
        
        </div>
      </fieldset>
      
        <div class="row">
          

          
          <div class="col-4">
            <fieldset id="fieldset-rfm" >
              <legend>RFM SEGMENTATION</legend>
              <div class="description" style="position:relative;margin-top:-10px;width:240px;">
                Select segments for further analyses. </div>
                <!--Rfm heatmap-->
              <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
              <div style="vertical-align:top;">
                <div id="rfm-heatmap"></div><div id="rfm-legend"></div><div id="value-legend">
                  <div class="big-bold">Recency </div>
                  <div class="up">_____________</div>
                  <div>1 :</div>
                  <div>2 :</div>
                  <div>3 :</div>
                  <div>4 :</div>
                  <div class="big-bold">Frequency </div>
                  <div class="up">_____________</div>
                  <div>1 :</div>
                  <div>2 :</div>
                  <div>3 :</div>
                  <div>4 :</div>
                </div></div>
            
            </fieldset>
          </div>

          <div class="col-8">
            <fieldset id="fieldset-segment" >
              <legend>SEGMENT DETAILS</legend>
              <div class="box-aggregation" id="total-cust" >
                Total Customers
              </div>
              <div id="table-div">
                <table id="customer-table">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Birthday</th>
                    <th>Sex</th>
                    <th>City</th>
                    <th>Cluster</th>
                    <th>Recency</th>
                    <th>Frequency</th>
                    <th>Monetary</th>
                    <th>R</th>
                    <th>F</th>
                    <th>M</th>
                    <th> </th>
                  </tr>
                  </thead>
                  <tbody></tbody>
                 </table>
              </div>
            <!--<div id="rfm_parallel"></div>-->
            </fieldset>
          </div>
        </div>
       </div>
       </div>
  </body>
</html>
