body {
  background-color: #282828;
  font-family: "Courier New", monospace;
  color: white; }

#title {
  color: #d6d3d3;
  text-align: left;
  font-size: 25px;
  font-weight: bold; }

mark {
  background-color: white;
  color: black; }

.description {
  position: relative;
  margin-top: 5px;
  font-size: 10px; }

.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Courier New", monospace;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
  background-color: #282828;
  border-radius: 3px; }
  .button:hover {
    color: #000000;
    background-color: #FFFFFF; }

#btn-clear {
  float: right;
  margin-top: 0pt; }

.tooltip {
  position: relative;
  display: inline-block; }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #414040;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 8pt;
  font-weight: 100; }
  .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #414040; }

.grid-container {
  position: relative;
  display: grid;
  margin: 2pt;
  margin-left: -5pt;
  grid-template: auto / auto auto auto;
  grid-gap: 5pt;
  padding: 3pt; }
  .grid-container .viz {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6pt;
    width: auto; }

.node {
  border: solid 1px white;
  font: 8.5px "Courier New", monospace;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: default; }

a {
  color: dimgray; }

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px "Courier New", monospace;
  padding: 5px;
  text-align: center; }

.category {
  font-weight: bolder;
  font-size: 12px; }

.value {
  color: black; }

.viz#line-chart {
  height: 50px; }

#line-chart {
  color: white; }
  #line-chart .axis {
    stroke: white;
    stroke-width: 0.3;
    color: gray;
    font-family: "Courier New", monospace;
    font-size: 8px; }
    #line-chart .axis path, #line-chart .axis line {
      stroke: gray; }
  #line-chart #select-y {
    position: relative;
    float: right;
    margin-right: 3px; }
  #line-chart .tooltip {
    position: absolute;
    opacity: 1;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    background: none repeat scroll 0 0 white;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 10px "Courier New", monospace;
    border: 1px;
    border-radius: 8px; }

#calendar-heatmap {
  font-size: 9px; }
  #calendar-heatmap .chart {
    background: #fff;
    margin: 5px; }
  #calendar-heatmap .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px; }
  #calendar-heatmap .day {
    fill: #fff;
    stroke: #ccc; }
  #calendar-heatmap text {
    font-family: sans-serif;
    font-size: 1.5em; }
  #calendar-heatmap .dayLabel {
    fill: #aaa;
    font-size: 0.8em; }
  #calendar-heatmap .monthLabel {
    text-anchor: middle;
    font-size: 0.8em;
    fill: #aaa; }
  #calendar-heatmap .yearLabel {
    fill: #aaa;
    font-size: 1.2em; }
  #calendar-heatmap .key {
    font-size: 0.5em; }
