//Variables
$main_font: 'Courier New', monospace;
$main_font_color: white;
$background_color: #282828;
$tooltip_color:  #414040;
$axis_color: gray;

body {
  background-color: $background_color;
  font-family: $main_font;
  color: $main_font_color;
}

#title {
  color: rgb(214, 211, 211);
  text-align: left;
  font-size: 25px;
  font-weight:bold;
}

mark {
  background-color: white;
  color: black;
}

.description {
  position: relative;
  margin-top: 5px;
  font-size: 10px;
}

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: $main_font;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: $background_color;
  border-radius: 3px;

  &:hover {
    color:#000000;
    background-color:#FFFFFF;
  }
}

#btn-clear {
  float:right;
  margin-top: 0pt;
}

.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $tooltip_color;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 8pt;
  font-weight: 100;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $tooltip_color;
    
  }
}

//Grid layout
.grid-container {
  position: relative;
  display: grid;
  margin: 2pt;
  margin-left: -5pt;
  grid-template: auto / auto auto auto;
  grid-gap: 5pt;
  padding: 3pt;

  .viz {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6pt;
    width: auto;
    //height: auto;
  }
}

//For the treemap

.node {
  border: solid 1px white;
  font: 8.5px $main_font;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: default;
}

a {
  color: dimgray;
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px $main_font;
  padding: 5px;
  text-align: center;
}

.category {
  font-weight: bolder;
  font-size: 12px;
}

.value {
  color: black;
}

//For the line-chart
.viz#line-chart {
  height: 50px;
}
#line-chart {
  
  color: $main_font_color;  

  .axis  {
    stroke: white;
    stroke-width: 0.3;
    color: $axis_color;
    font-family: $main_font;
    font-size: 8px ;
    
    path, line {
      stroke: $axis_color;
    }
  }

  #select-y {
    position:relative;
    float:right;
    margin-right: 3px;
  }

  //Tooltip
  .tooltip {	
    position: absolute;		
    opacity: 1;	
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;						
    background: none repeat scroll 0 0 white;	
    box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px $main_font;
    border: 1px;		
    border-radius: 8px;					
}
}

//For the calendar-heatmap
#calendar-heatmap {
  font-size: 9px;
  .chart {
    background: #fff;
    margin: 5px;
  }

  .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
  }
  .day {
    fill: #fff;
    stroke: #ccc;
  }
  text {
    font-family:sans-serif;
    font-size:1.5em;
  }
  .dayLabel   {
    fill:#aaa;
    font-size:0.8em;
  }
  .monthLabel {
    text-anchor:middle;
    font-size:0.8em;
    fill:#aaa;
  }
  .yearLabel  {
    fill:#aaa;
    font-size:1.2em;
  }

  .key {
    font-size:0.5em;
  }
}