//Variables
$main_font: 'Courier New', monospace;
$main_font_color: white;
$background_color: #282828;
$tooltip_color:  #414040;


body {
  background-color: $background_color;
  font-family: $main_font;
  color: $main_font_color;
}

#title {
  color: rgb(214, 211, 211);
  text-align: center;
  font-size: 40px;
  font-weight:lighter;
}

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family: $main_font;
  font-weight: bold;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: $background_color;
  border-radius: 3px;

  &:hover {
    color:#000000;
    background-color:#FFFFFF;
  }
}

#btn-clear {
  float:right;
  margin-top: 10pt;
}

.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: $tooltip_color;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 8pt;
  font-weight: 100;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $tooltip_color;
    
  }
}

//For the treemap
.node {
  border: solid 1px white;
  font: 9px $main_font;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: default;
}


a {
  color: dimgray;
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px $main_font;
  padding: 5px;
  text-align: center;
}

.category {
  font-weight: bolder;
  font-size: 12px;
}

.value {
  color: black;
}