//Variables
$main_font: 'Courier New', monospace;
$main_font_color: white;
$axis_color: gray;
$body_background_color: #1b1b1b; //backgroud of the entire page
$background_color: #282828; //background of the boxes containg the visualizations
$button_background_color : #C0C0C0;
$selector_background_color : #585858;
$tooltip_color: white; //background of the tooltip


body {
  background-color: $body_background_color;
  font-family: $main_font;
  color: $main_font_color;
  overflow: hidden;
}

#title, .material-icons {
  font-family: 'Englebert', sans-serif;
  font-size: 22px;
  color: $button_background_color;

}




#subtitle {
  font-family: 'Englebert', sans-serif;
  font-size: 10px;
}

fieldset {
  margin-left: 5px;
  padding-bottom: 1px;
  background-color:$background_color;
  border: $axis_color 1px solid;
  padding: 10px;
  padding-top: 3px;
}

legend {
  width: max-content;
  color: $axis_color;
  font-weight: bolder;
  font-size: 18px;
  height: 18px;
  padding: 0px;
  text-align: center;
}

#fieldset-calendar {
  width: 90%;
  height: 60%;
}

#fieldset-trends {
  position: relative;
  margin-top: -7px;
  width: 90%;
}


 #top {
   padding-top: 5px;
   background-color:$body_background_color;
  button {
    position: relative;
    width: fit-content;
    display: inline;
    //float: right;

    &:hover {
      color: black;
    }

    a {
      color:#FFFFFF;
      text-decoration: none; 
    }
    
  }

}

//Popup
.overlay {
  z-index: 2;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  z-index: 2;
  margin: 70px auto;
  padding: 20px;
  background: rgba(173, 173, 173, 0.8);
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  font-size: 12px;
  overflow: auto;
  color: black;
}

@media screen and (max-width: 700px){
  .popup{
    width: 70%;
  }
}
//end Popup

.description {
  position: relative;
  margin-top: 5px;
  font-size: 10px;
}

.my-button {
  display:inline-block;
  height:25px;
  cursor: pointer;
  padding:0 1.2em;
  border:0.1em solid $button_background_color;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  text-transform: uppercase;
  font-family: $main_font;
  font-weight: bold;
  color: $body_background_color;
  text-align:center;
  transition: all 0.2s;
  background-color: $button_background_color;
  border-radius: 25px;

  &:hover {
    color:#000000;
    background-color:#FFFFFF;
  }
}

.btn-right {
  float:right;
  margin-top: 0pt;
}

#btn-run {
  position: relative;
  width: 30px;
  text-align: left;
  i {
    position: relative;
    margin-left: -12px;
    color: $background_color;
  }
}

.tooltip {
  position: relative;
  display: inline-block;

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: lightgray;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 8pt;
  font-weight: 100;

  &::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $tooltip_color;
    
  }
}

#select-y {
  position:relative;
  
}

.btn-select {
  height: 20px;
  font-size: 11px;
  padding: 2px;
  font-weight: normal;
  border-radius: 3px;
  background-color: $selector_background_color;
  border: $selector_background_color;
  color: white;
}




//For the treemap
#treemap {
  position:relative;
  margin-left: 40px;
  margin-right: 0px;
}

.node {
  border: solid 1px white;
  font: 8.5px $main_font;
  line-height: 90%;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: default;
}

a {
  color: dimgray;
}

.toolTip {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  background: none repeat scroll 0 0 white;
  border: 0 none;
  border-radius: 8px 8px 8px 8px;
  box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px $main_font;
  padding: 5px;
  text-align: center;
}

.category {
  font-weight: bolder;
  font-size: 12px;
}

.value {
  color: black;
}

//For the line-chart
.viz#line-chart {
  height: 50px;
}

.axis {
  stroke: white;
  stroke-width: 0.3;
  color: $axis_color;
  font-family: $main_font;
  font-size: 8px;
}

#line-chart {
  color: $main_font_color;  
    
  path, line {
    stroke: $axis_color;
  }
}

  

  //Tooltip
  .tooltip {	
    position: absolute;		
    opacity: 1;	
    text-align: center;			
    width: 60px;					
    height: 28px;					
    padding: 2px;						
    background: none repeat scroll 0 0 white;	
    box-shadow: -3px 3px 15px #888888;
  color: black;
  font: 10px $main_font;
    border: 1px;		
    border-radius: 8px;					
}

//For the calendar-heatmap
#calendar-heatmap {
  position: relative;
  display: inline;
  //margin-left: -100px;
  font-size: 9px;
  .chart {
    background: #fff;
    margin: 5px;
  }

  .month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
  }
  .day {
    fill: #fff;
    stroke: #ccc;
  }
  text {
    font-family:sans-serif;
    font-size:1.5em;
  }
  .dayLabel   {
    fill:#aaa;
    font-size:0.8em;
  }
  .monthLabel {
    text-anchor:middle;
    font-size:0.8em;
    fill:#aaa;
  }
  .yearLabel  {
    fill:#aaa;
    font-size:1.2em;
  }

  .key {
    font-size:0.5em;
  }
}

// Form to set parameters
form {
  position: relative;
  margin-top: -10px;
  display: inline;
  margin-left: 50px;
  font-size: 12px;
  .input-param {
    width: 25px;
    text-align: center;
    margin-right: 15px;
    background-color: $selector_background_color;
    color: white;
    border: $selector_background_color;
  }
  label {
    font-size: 10px;
  }

}
.parameters {
  position:relative;
  margin-top: -40px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}



#unsupervised-parallel {

  .axis {
    opacity: 0.4;
  }
  .axis:hover {
    opacity: 1;
  }
}

#container-row { //container of segmentation
  position: relative;
  margin-left: -60px;
}

#unsupervised-row {
  position: relative;
  margin-left: -40px;
  
}

#fieldset-unsupervised {
  width:950px;
}

#row-form {
  position: relative;
  margin-left: 5px;
  margin-top: -10px;
  
}
// Scatter plot
#scatter {
  position: relative;
  margin-left: -78px;
  margin-top: -30px;

  path {
    stroke: $axis_color;
    color: white;
  }
  
}

// Parallel unsupervised
.axis {
  line, path {
    stroke: $axis_color;
    color: $axis_color;
  }
}

// Cluster selector
#cluster-selector-select { 
  position:relative;
  margin-top: 10px;
  margin-left: -50px;
  display: inline-block;
  border:1px solid $selector_background_color; 
  //background-color: $body_background_color;
  width:100px; 
  height: 80px; 
  overflow-y: scroll;
  scrollbar-width: thin;
  
}

// Clustering metrics
#metrics-table { 
  position:relative;
  margin-top: -30px;
  margin-left: -70px;
  font-size: 9px;
  color: $axis_color;
  line-height: 85%;
  height: 70px;
  overflow-y: scroll;
  scrollbar-width: thin;

  td {
    padding-left: 1px;
    padding-top: 3px;
    border-bottom: 3px solid $background_color;
  }
  .header {
    background-color: $selector_background_color;
    color: white;
  }
}